<html>
  <head>
    <title>Welcome to the DataGrenade assessment project.</title>
  </head>
  <body style="width: 100%;">
    {{> header}}
    <div style="max-width: 600px; margin: 0 auto;">
      <h2 style="font-family: 'tahoma', sans-serif; font-size: 40px; font-weight: 500;">You've been invited to join the DataGrenade "Alpha" assessment project.</h2>
      <p style="font-family: 'tahoma', sans-serif; font-size: 18px; margin-bottom: 35px;">To participate in this project, please click the link below to create your account and get started.</p>
      <p style="font-family: 'tahoma', sans-serif; font-size: 18px; margin-bottom: 35px;">Before you proceed, it is important that you recognise that this is not a production platform. You can upload, download, archive and delete files using the web browser based interface, but on the 28th February 2025 the "Alpha" test activity will come to an end and all of the data will be flattened/deleted. You <strong>MUST NOT</strong> use this "Alpha" test platform as your <strong>ONLY</strong> means of storing data or material that you need or rely on.</p>
      <a href="{{returnUrl}}" style="font-family: 'tahoma', sans-serif; display: block; background-color: #0A9AFF; color: white; width: 200px; text-align: center; margin: 0 auto; text-decoration: none; height: 35px; border-radius: 5px; padding-top: 8px; padding-bottom: 8px; font-size: 20px; font-weight: 500;">Accept Invitation</a>
      <p style="font-family: 'tahoma', sans-serif; font-size: 18px; margin-top: 35px;">Welcome to DataGrenade assessment project!</p>
    </div>
    {{> footer}}
  </body>
</html>