<footer style="max-width: 600px; margin: 0 auto;">
    <p style="font-family: 'tahoma', sans-serif; font-size: 18px;">The CyberVector Team</p>
    <p>If you require support please send a message to <a href="mailto:support@cybervector.co.uk?subject=DataGrenade enrolment support request" target="_blank">Support@CyberVector.co.uk</a> .</p>
    <p>The privacy and cookie policies are available at <a href="https://www.cybervector.co.uk/company%20information/(20)legal%20and%20privacy" target="_blank">www.CyberVector.co.uk</a> .</p>
</footer>
